/* styles/components/SearchBar.css */
.search-bar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 12px;
  font-size: 20px;
  color: #666;
}

.search-input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f4f2f7;
  /* Enlever l'outline par défaut */
  outline: none;
  /* Définir une transition pour un effet plus doux */
  transition: border-color 0.2s, box-shadow 0.2s;
}

.search-input:hover {
  background-color: #eae7ed;
}

/* Style quand l'input est focus */
.search-input:focus {
  border-color: var(--primary-color); /* Couleur Deezer */
  /* Ajouter une ombre subtile de la même couleur */
  box-shadow: 0 0 0 1px var(--primary-color);
}

.clear-icon {
  position: absolute;
  right: 12px;
  font-size: 30px;
  color: #666;
  cursor: pointer;
  transition: color 0.2s;
}

.clear-icon:hover {
  color: var(--primary-color); /* Couleur Deezer au hover */
}
