/* basic styles */
.title {
  text-align: center;
  margin: 40px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title img {
  width: 50px;
  animation: slowSpin 10s linear infinite;
}

@keyframes slowSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title h1 {
  font-weight: bolder;
  font-style: italic;
}

/* styles for tablets and mobiles */
@media (max-width: 768px) {
  .title {
    margin: 15px;
    gap: 10px;
  }

  .title img {
    width: 30px;
  }

  .title h1 {
    font-size: 1.4rem;
  }
}

/* styles for very small screens */
@media (max-width: 480px) {
  .title {
    margin: 10px;
  }

  .title h1 {
    font-size: 1.2rem;
  }
}
