/* basic styles of the app */
:root {
  /* colors variables */
  --primary-color: #a237ff;
  --secondary-color: #23232c;
  --background-color: #fdfcfe;
  --text-color: #23232c;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}
